<#@ template language="C#" #>
<#@ include file="..\iSukces.Templates\PrimitiveObsession.ttinclude" once="true" #>
<#    var infos = new[]
    {
        new IntKey("PrimaryKey")
    };


    Config.ImplicitUsings.Add("System");
    Config.Namespace = "iSukces.Templates.Demo";
    Config.IncludeFeatures = Features.All;
    Config.IgnoreFeatures = Features.NewtonsoftJsonSerializer;
    PrimitiveObsessionBase.WriteAll(infos, this);
    
#>
